@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
*{
    font-family: 'Noto Sans Display';

}
.mgm-footer{

    height: fit-content;
    color: white;
}

.crbox{
    border: 2px dotted #FE9000;
    border-radius: 20px;
}

.white-image {
    filter: invert(100%);
  }